[submodule "react-tutorial2-client"]
	path = react-tutorial2-client
	url = https://github.com/likr-lecture/react-tutorial2-client
[submodule "react-tutorial2-server"]
	path = react-tutorial2-server
	url = https://github.com/likr-lecture/react-tutorial2-server
